S3 download URLs are not URL encoded

Semantic versioning allows for metadata to be included in versions with a prefix of `+`. This character has to be URL encoded when used in download URLs for S3, or requests to those URLs will result in a 4xx response from AWS.

Example of current behavior:
```bash
> curl -sSi https://boring-registry.com/v1/modules/ns/n/p/0.3.9-1.beta+gb051be9/download | grep '^x-terraform-get: ' | sed 's@.*provider=[^/]*/@@'
version=0.3.9-1.beta+gb051be9/ns-n-p-0.3.9-1.beta+gb051be9.zip
```

Example of desired behavior:
```bash
> curl -sSi https://boring-registry.com/v1/modules/ns/n/p/0.3.9-1.beta+gb051be9/download | grep '^x-terraform-get: ' | sed 's@.*provider=[^/]*/@@'
version=0.3.9-1.beta%2Bgb051be9/ns-n-p-0.3.9-1.beta%2Bgb051be9.zip
```

Worth noting that according to [RFC 3986 section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2), the equals (`=`) character is also supposed to be URL encoded, but that doesn't appear to be strictly necessary in this case since the URLs served by boring registry frequently include that character and requests to S3 do not fail if it isn't encoded. Probably wouldn't hurt, though.

Hi @C0urante, thanks for reporting this issue! :)

My first thought is that we probably need to use [url.PathEscape](https://pkg.go.dev/net/url#PathEscape) here:
https://github.com/TierMobility/boring-registry/blob/60456f3a324652805a8e7f2f4205071e1f0d9472/pkg/storage/s3.go#L294

I'll try to fix it, but I don't have an S3 bucket available, unfortunately. May I ask how easily you could test out a possible fix?

I think `url.PathEscape` may not be sufficient at that location, as it would also escape the `/` components of the path and (although I haven't verified this yet) I don't think that'd work with S3.

I tested the behavior of the function itself using the golang playground: https://go.dev/play/p/RmkcKWVJPtx

As far as end-to-end testing goes, that's an interesting question... I'm happy to manually test out changes if you have a patch that you believe will work; can build from source and run it against my own S3 bucket. Not sure about what other options there might be, though 🙁 

Yes, you're right. It seems like S3 treats a `+` as a space in the object path. Can you verify if the object path has a space in the console (or via the AWS cli)? That would be very helpful :)

The object path doesn't have a space in it, in either the console or the CLI; it's definitely a literal `+`. We started attaching metadata to our versions recently using that as a delimiter, which is when we noticed this issue.

I just created an S3 bucket for testing, and uploaded an object using the latest commit on `main`.

If I copy the URL from the AWS console, I get `https://<bucket>.s3.eu-central-1.amazonaws.com/modules/hashicorp/consul/aws/hashicorp-consul-aws-0.11.0-rc1%2Bmetadata.tar.gz`.

Using the latest commit on main, the URL is resolved to `<bucket>.s3-eu-central-1.amazonaws.com/modules/hashicorp/consul/aws/hashicorp-consul-aws-0.11.0-rc1+metadata.tar.gz` and terraform is able to download the module.

The AWS console URL contains `s3.`, we're generating `s3-` in our code. So I changed the code to generate `s3-`, and terraform failed to download the module with:
```
Could not download module "consul_with_prerelease_and_metadata" (main.tf:14) source code from
"s3::https://s3.eu-central-1.amazonaws.com/boring-registry/modules/hashicorp/consul/aws/hashicorp-consul-aws-0.11.0-rc1+metadata.tar.gz":
InvalidBucketName: The specified bucket is not valid. status code: 400
```
To me, it seems like Terraform is able to detect S3 and uses the S3 client internally, hence the `+` doesn't cause any problems.

Just to be sure, which boring-registry and terraform version are you using? I'm using the latest main and terraform `v1.2.3`

We could also explicitely let Terraform use the S3 client in case presigned URLs are not enabled with something like this:

```go

func (s *S3Storage) generateURL(ctx context.Context, key string) (string, error) {
	presignResult, err := s.presignClient.PresignGetObject(ctx,
		&s3.GetObjectInput{
			Bucket: aws.String(s.bucket),
			Key:    aws.String(key),
		},
		s3.WithPresignExpires(s.signedURLExpiry),
	)
	if err != nil {
		return "", err
	}

	if s.useSignedURL {
		return presignResult.URL, nil
	}

	u, err := url.Parse(presignResult.URL)
	if err != nil {
		return "", err
	}

	u = &url.URL{
		Scheme: u.Scheme,
		Host:   u.Host,
		Path:   u.Path,
	}
	return fmt.Sprintf("s3::%s", u.String()), nil
}
```

Ah, this is embarrassing. We're running on a fork of the project with some small changes, but one of them is the change proposed in https://github.com/TierMobility/boring-registry/issues/37, which must be causing this issue. If the URL is treated as an S3 link, then Terraform is probably capable of dealing with `+` and other characters correctly when interacting with S3; it's only when it's treated as a raw HTTP/HTTPS link when this issue arises.

Closing this as won't fix, and making a note to migrate our S3 bucket to a structure compatible with the latest release so that we can get off of our fork and back onto the official releases for this project. Apologies for the confusion!

No worries! :) I've learned something new on the way, so that wasn't bad for me! 


> and making a note to migrate our S3 bucket to a structure compatible with the latest release

We're getting closer to release `v0.8.0`, which comes with some breaking changes regarding the bucket structure. We're working on a cli tool to migrate the modules and providers, so that should hopefully be an easy migration :)